@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --purple: #8445b0;
  --black: #000000;
  --darkgray: #2f2f30;
  --lightgray: #434345;
  --buttonhover: #ededed;
}

@font-face {
  font-family: billabong;
  src: url('/src/assets/Billabong.ttf');
}

@font-face {
  font-family: helvetica;
  src: url('/src/assets/Helvetica\ Neue\ Medium\ Extended.ttf');
}

body {
  margin: 0;
  font-family: 'Roboto';
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center; 
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* sidebar styling */

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid var(--lightgray);
  width: 250px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul a {
  color: black;
  text-decoration: none;
}

.searchlogo {
  width: 30px;
  height: 30px;
}

.searchbar {
  width: 100px;
}

.title {
  font-family: billabong;
  font-size: 35px;
}

.uploadIMG {
  width: 35px;
  height: 35px;
}

#dark .uploadIMG {
  width: 35px;
  height: 35px;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* login and sign in styling */

.loginForm {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
  height: fit-content;
}

.loginFormTop {
  border: 1px solid var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 15px;
}

.loginFormBottom {
  display: flex;
  justify-content: center;
  border: solid 1px var(--lightgray);
}

.loginForm-container {
  display: flex;
  width: calc(100% - 251px);
  align-items: center;
  justify-content: center;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px var(--lightgray) solid;
  border-radius: 10px;
  gap: 10px;
}

.upload-container {
  display: flex;
  width: calc(100% - 251px);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* profile styling */

.profileinfo {
  width: calc(100vw - 251px);
}

.username {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 30px;
}

.usernameBtn {
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
}

.usernameBtn:hover {
  background-color: var(--buttonhover);
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.followers {
  display: flex;
  gap: 15px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 30px;
}

.postimg {
  width: 300px;
  height: 225px;
}

.activePost {
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
  display: flex;
}

.activePostImg {
  width: 300px;
}

.right {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.rightTop {
  display: flex;
  justify-content: space-between;
}

.rightBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
}

.rightBottom input {
  width: 160px;
}

/* dark theme + not automatic normal theme styling */

#light {
  background-color: white;
}

#dark {
  background-color: var(--darkgray);
  color: white;
}

#dark ul a {
  color: white;
}