@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --purple: #8445b0;
  --black: #000000;
  --darkgray: #2f2f30;
  --lightgray: #434345;
  --buttonhover: #ededed;
}

@font-face {
  font-family: billabong;
  src: url('/src/assets/Billabong.ttf');
}

@font-face {
  font-family: helvetica;
  src: url('/src/assets/Helvetica\ Neue\ Medium\ Extended.ttf');
}

body {
  margin: 0;
  font-family: 'Roboto';
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.App {
  height: 100vh;
  display: flex;
}

/* sidebar styling */

nav {
  position: fixed;
  display: flex;
  width: 100vw;
}

ul {
  padding: 0;
  width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul a {
  color: black;
  text-decoration: none;
}

.search {
  position: relative;
}

.searchlogo {
  width: 30px;
  height: 30px;
}

.searchbar {
  width: 100px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: lightgray;
}

.searchAndOutput {
  position: absolute;
  left: 50px;
  top: 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.searchBack {
  position: fixed;
  bottom: 80px;
  left: 70%;
  background-color: white;
  border: 1px black solid;
  padding: 5px;
}

.title {
  font-family: billabong;
  font-size: 35px;
}

.uploadIMG {
  width: 35px;
  height: 35px;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

h3 {
  font-size: 20px;
}

.instalogo {
  padding: 20px 0;
}

.container {
  width: calc(100vw - 250px);
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* login and sign in styling */

.loginForm {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
  height: fit-content;
}

.loginFormTop {
  border: 1px solid var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 15px;
}

.loginFormBottom {
  display: flex;
  justify-content: center;
  border: solid 1px var(--lightgray);
}

.loginForm-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px var(--lightgray) solid;
  border-radius: 10px;
  gap: 10px;
}

.upload-container {
  display: flex;
  width: calc(100vw - 251px);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* post styling */

.post {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgray);
  border-radius: 10px;
  margin-top: 20px;
}

.posttopbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0 15px;
}

.postIMG {
  width: auto;
  object-fit: scale-down;
}

.postbottembar {
  margin-bottom: 20px;
}

.likeAndSave {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.comments {
  padding: 0 10px;
  max-height: 20vh;
  overflow: auto;
}

.commentinput {
  border: none;
  background-color: lightgray;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  flex-grow: 1;
}

.commentPost {
  padding: 5px 10px;
  border: none;
  color: blue;
}

.postimg {
  width: 230px;
}

.nameAndCaption {
  display: flex;
  gap: 5px;
}

.commentul {
  margin: 0;
  padding: 0 0 10px 0;
  max-height: 90px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/*homepage styling */ 

.homepagePosts {
  display: flex;
  gap: 30px;
  width: calc(100vw - 250px);
  flex-direction: column;
  align-items: center;
}

/* profile styling */

.profileinfo {
  width: calc(100vw - 250px);
}

.username {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 30px;
}

.usernameBtn {
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
}

.usernameBtn:hover {
  background-color: var(--buttonhover);
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.followers {
  display: flex;
  gap: 15px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 60px;
}

.userPosts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 60px;
}

.profileContainer {
  width: calc(100vw - 251px);
}

.profilepostimg {
  width: 300px;
  height: 225px;
}

.profilePostIMG {
  width: 230px;
}

.activePost {
  background-color: white;
  border-radius: 5px;
  box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
}

.activePost-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px 0 10px;
}

.activePost-likeContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 5px;
  gap: 10px;
}

.activePost-likeContainer p {
  height: 40px;
  display: flex;
  align-items: center;
}

.activePost-caption {
  margin-left: 10px;
}

.activePost-comments {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  height: auto;
  max-height: 20vh;
}

.right {
  display: flex;
  width: 25vw;
  height: 60vh;
  border: 1px solid var(--lightgray);
  flex-direction: column;
}

.rightTop {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 0px 10px;
  border-bottom: 1px solid var(--lightgray);
}

.follow {
  color: blue;
}

.rightBottom {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 5px;
}

.likeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightBottom input {
  width: 130px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 720px) {
  .container {
    width: 100vw;
    margin-left: 0;
  }

  nav {
    position: fixed;
    z-index: 10;
    background-color: darkgray;
    width: 100vw;
    padding-top: 15px;
    bottom: 0;
  }

  .nav-text {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  .instalogo {
    display: none;
  }

  .post {
    width: calc(100vw - 50px);
  }

  .profileinfo {
    width: 100vw;
    height: calc(100vh - 200px);
  }

  .searchbar {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .activePost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc((100vw - 100px));
    height: auto;
    max-height: 80vh;
  }
  
  .activePostImg {
    width: calc(100vw - 100px);
    object-fit: contain;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 720px) {
  .container {
    width: calc(100vw - 100px);
    margin-left: 0;
  }
  
  nav {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 10vw;
  }

  ul {
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
  }

  .nav-text {
    display: none;
  }

  .homepagePosts {
    width: calc(100vw - 100px);
  }

  .post {
    width: calc(100vw - 200);
  }

  .container {
    width: calc(100vw - 100px);
    margin-left: 40px;
  }

  .profileinfo {
    width: calc(100vw - 100px);
  }

  .activePost {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: calc(100vw - 250px);
    margin-left: 250px;
  }
  
  .instalogo {
    display: none;
  }

  nav {
    width: 250px;
  }

  .nav-text {
    display: block;
  }

  .activePost {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25vw;
    margin-top: -30vh;
  }

  .activePostdelete {
    position: fixed;
    top: 20%;
    left: 76%;
  }
}